<html>
<head>
<title>Radiological Image Recommendation System</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<p><h1 align="center">Radiological Image Recommendation System</h1></p>
<div class="container">
<div class="row">
    <h2>Select a radiological image to upload</h2>
    <p>
        You can upload any radiological image, for example: Computed tomography (CT, CAT), Magnetic resonance,
        Mammmography, X-raysm PET scans, ultrasound. The algorithm behind has been trained with the following
        types of radiological images: INSERT LIST HERE
       
    </p>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>

    {% if filename %}
        <div>
            <img src="{{ url_for('display_image', filename=filename) }}">
        </div>
    {% endif %}

    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>

<!--
    {% if filename %}
        <script src="{{ url_for('delete_image', filename=filename) }}"></script>
    {% endif %}
-->


</div>
</div>
</body>
</html>