{% extends 'base.html' %}

{% block content %}
    <div class="container pt-5 mt-5">
        <div class="row justify-content-center">
            <div class="col-11">
                <h2 class="text-center">Select a radiological image to upload</h2>
                <p>
                    You can upload any radiological image, for example: Computed tomography (CT, CAT), Magnetic resonance,
                    Mammmography, X-raysm PET scans, ultrasound. The algorithm behind has been trained with the following
                    types of radiological images: INSERT LIST HERE
                </p>
                <p class="text-center">
                    <a href="{{url_for('challenge_description') }}" class="btn btn-info">Learn more about the challenge and how the recommender works</a>
                </p>
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="col-lg-4 col-md-10 col-11 text-align-top form">
                <p>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li><b>{{ message }}</b></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}
                </p>
                <form method="post" action="/" enctype="multipart/form-data">
                    <dl>
                        <div class='mb-3'>
                            <label for="formFile" class="form-label">Upload image</label>
                            <input type="file" accept="image/*" name="file" class="form-control" autocomplete="off" required>
                        </div>
                    </dl>
                    <p>
                        <input type="submit" value="Submit" class="btn btn-info">
                    </p>
                </form>
            </div>
            {% block results %}

            {% endblock %}
        </div>
    </div>

    <hr>
    <div class="row mt-3 justify-content-center">
        <div class="col-11">
            <h3 class="text-center">Test these examples!</h3>
        </div>
    </div>
    <div class="d-flex flex-row align-content-between flex-wrap justify-content-around mt-4">
        <div class="card my-2" style="width: 15rem;">
            <img src="{{ url_for('static',filename='img/img_1.jpeg') }}" class="card-img-top" alt="Examples of radiological image">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <a href="{{ url_for('example',filename='img_1.jpeg' ) }}" class="btn btn-primary">Test this image!</a>
            </div>
        </div>
        <div class="card my-2" style="width: 15rem;">
            <img src="{{ url_for('static',filename='img/img_2.jpeg') }}" class="card-img-top" alt="Examples of radiological image">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <a href="{{ url_for('example',filename='img_2.jpeg' ) }}" class="btn btn-primary">Test this image!</a>
            </div>
        </div>
        <div class="card my-2" style="width: 15rem;">
            <img src="{{ url_for('static',filename='img/img_3.jpeg') }}" class="card-img-top" alt="Examples of radiological image" style="height: 15rem;">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <a href="{{ url_for('example',filename='img_3.jpeg' ) }}" class="btn btn-primary">Test this image!</a>
            </div>
        </div>
        <div class="card my-2" style="width: 15rem;">
            <img src="{{ url_for('static',filename='img/img_4.jpeg') }}" class="card-img-top" alt="Examples of radiological image" style="height: 15rem;">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <a href="{{ url_for('example',filename='img_4.jpeg' ) }}" class="btn btn-primary">Test this image!</a>
            </div>
        </div>
        <div class="card my-2" style="width: 15rem;">
            <img src="{{ url_for('static',filename='img/img_5.jpeg') }}" class="card-img-top" alt="Examples of radiological image" style="height: 15rem;">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <a href="{{ url_for('example',filename='img_5.jpeg' ) }}" class="btn btn-primary">Test this image!</a>
            </div>
        </div>
    </div>
{% endblock %}