{% extends 'base.html' %}

{% block content %}
    <div class="container pt-5 mt-5">
        <div class="row justify-content-center">
            <div class="col-11">
                <!-- <h2 class="text-center">Feel free to upload any radiology image </h2> -->
                <p style="font-size: 20px; text-align: center;">
                    Interpreting medical images such as radiology images can be a time-consuming task that requires
                    the expertise of professionals in the field, and ends up causing delays in the clinical diagnosis
                    pipeline. Therefore, there is the need of having automatic methods that can approximately detect visual
                    information and transform it into textual descriptions, in this case, medical concepts.
                    
                </p>
                <p style="font-size: 20px; text-align: center;">
                    This websites has the purpose to present the work submitted by the NLIP-Essex-ITESM team
                    during ImageCLEFmed concept detection 2021 sub-task. It is worth mentioning that the following system
                    got ranked 6th, and NLIP-Essex-ITESM team got 2nd place. 
                
                <p style="font-size: 20px; text-align: center;">
                    <b> This website was primarily build for learning
                        how to adapt a research model and make it available for end-users. The predicted concepts must not be taken
                        as the sole truth.
                    </b>
                </p> 

                </p>
                <p class="text-center">
                    <a href="{{url_for('challenge_description') }}" class="btn btn-info">Learn more about the challenge and how the recommender works</a>
                </p>
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="col-lg-4 col-md-10 col-11 text-align-top form">
                <p>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li><b>{{ message }}</b></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}
                </p>
                <form method="post" action="/" enctype="multipart/form-data">
                    <dl>
                        <div class='mb-3'>
                            <label for="formFile" class="form-label">Upload image</label>
                            <input type="file" accept="image/*" name="file" class="form-control" autocomplete="off" required>
                        </div>
                    </dl>
                    <p>
                        <input type="submit" value="Submit" class="btn btn-info">
                    </p>
                </form>
            </div>
            {% block results %}

            {% endblock %}
        </div>
    </div>

    <hr>
    <div class="row mt-3 justify-content-center">
        <div class="col-11">
            <h3 class="text-center">Test these examples!</h3>
        </div>
    </div>
    <div class="d-flex flex-row align-content-between flex-wrap justify-content-around mt-4">
        <div class="card my-2" style="width: 15rem;">
            <img src="{{ url_for('static',filename='img/img_1.jpeg') }}" class="card-img-top" alt="Examples of radiological image">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <a href="{{ url_for('example',filename='img_1.jpeg' ) }}" class="btn btn-primary">Test this image!</a>
            </div>
        </div>
        <div class="card my-2" style="width: 15rem;">
            <img src="{{ url_for('static',filename='img/img_2.jpeg') }}" class="card-img-top" alt="Examples of radiological image">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <a href="{{ url_for('example',filename='img_2.jpeg' ) }}" class="btn btn-primary">Test this image!</a>
            </div>
        </div>
        <div class="card my-2" style="width: 15rem;">
            <img src="{{ url_for('static',filename='img/img_3.jpeg') }}" class="card-img-top" alt="Examples of radiological image" style="height: 15rem;">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <a href="{{ url_for('example',filename='img_3.jpeg' ) }}" class="btn btn-primary">Test this image!</a>
            </div>
        </div>
        <div class="card my-2" style="width: 15rem;">
            <img src="{{ url_for('static',filename='img/img_4.jpeg') }}" class="card-img-top" alt="Examples of radiological image" style="height: 15rem;">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <a href="{{ url_for('example',filename='img_4.jpeg' ) }}" class="btn btn-primary">Test this image!</a>
            </div>
        </div>
        <div class="card my-2" style="width: 15rem;">
            <img src="{{ url_for('static',filename='img/img_5.jpeg') }}" class="card-img-top" alt="Examples of radiological image" style="height: 15rem;">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <a href="{{ url_for('example',filename='img_5.jpeg' ) }}" class="btn btn-primary">Test this image!</a>
            </div>
        </div>
    </div>
{% endblock %}